.elem {

    background-color: rgba(107, 174, 0, 1);
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 14px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;    
    font-family: Poppins;

}