.container {
    display:flex;
    flex-direction: column;
    gap: 5px 0;
    padding: 20px 0;
    width: 100%;
    
}

.img{
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img{
        max-width: 50%;
    }
}
.elem{
    cursor: pointer;    
    display: flex;
    align-items: center;
    gap: 0 1px;
    width: 100%;
    color: white;
    svg{
       transform: scale(.5);
       path{
        fill: #fff;
       }
    }
    &:hover{
        background-color: rgba(#fff,.1);
    }
}
